* {
  box-sizing: border-box;
}

.outer {
  width: 960px;
}

header {
  margin: 0px;
  padding: 20px;
  background: red;
  color: black;
}

.nav1 {
  margin: 20px 60px 40px 0px;
  padding: 20px;
  float: left;
  width: 450px;
  background: red;
  color: black;
}

.nav2 {
  margin: 20px 0px 40px 0px;
  padding: 20px;
  float: right;
  width: 450px;
  background: red;
  color: black;
}

.nav3 {
  margin: 0px 30px 30px 0px;
  padding: 20px;
  float: left;
  width: 300px;
  background: red;
  color: black;
}

.nav4 {
  margin: 0px 30px 30px 0px;
  padding: 20px;
  width: 300px;
  float: left;
  background: red;
  color: black;
}

.nav5 {
  margin: 0px 0px 30px 0px;
  padding: 20px 0px 20px 20px;
  float: left;
  width: 300px;
  background: red;
  color: black;
}

footer {
  margin: 0px;
  padding: 20px;
  clear: both;
  background: red;
  color: black;
}